Repository rightscale/terraform-provider-rightscale, pull requests merged in 2018-06, with the labels that each got.

#62 STEEL-292 - Adding in changelog
  CHANGELOG.md
Labels: repo_maintenance

#66 STEEL-296 update changelog
  CHANGELOG.md
Labels: changelog

#69 STEEL-300 - update to changelog for v1.3.0 release
  CHANGELOG.md
Labels: changelog, repo_maintenance
